<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :tag_list %>
    <ul>
      <%- @tags.each do |tag| %>
        <li>
          <%= check_box_tag 'image[tag_list][]', tag.name, @image.tag_list.include?(tag.name) %>
          <%= tag.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="field">
    <% if @image.file.present? %>
      <%= image_tag @image.file.url(:large) %>
    <% end %>
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
